
 <div class="container my-5">
    <div class="row">
     <div class="col-md-4">
     
     </div>
     <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="login">
            <h2 class="login-header">Log in</h2>
            <form >
          
              <p>
                <select name="sendcustomer" id="sendcustomer" class="form-control">
                    <option value="">Select send Name</option>
                    <option value=""></option>
                </select>
              </p>
          
           
          
              <p>
                <select name="recievename" id="recievename" class="form-control">
                    <option value="">Select send Name</option>
                    <option value=""></option>
                </select>
              </p>
          
              <p>
                <button type="submit" class="btn btn-primary btn-block" value="Log in">Sign in</button>
                <!-- <button type="submit" class="btn btn-primary btn-block" >Login</button> -->
                <!-- <input type="submit" class="form-control" value="Log in"> -->
              </p>
              <!-- <button class="btn btn-success" (click) = 'loginn()'>click</button> -->
            </form>
          </div>
        </div>
      </div>
     </div>
    </div>
    </div>