<div class="container my-4">
    <form [formGroup]="signupForm" (ngSubmit)="submitSingup()">
   <br>
   <p style="text-align: center; font-size:x-large; color: blue;">Customer Registration Form</p>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Customer Name</label>
               <input type="text" class="form-control" placeholder="Customer Name" formControlName="customername">
               <span class="text-danger" *ngIf="isSubmitted && signupForm.get('customername')?.hasError('required')">Please select Payment Type</span>
            
            </div>
            
        </div>
        <div class="col-md-5">
            <label>Phone </label>
            <div class="form-group">
                <input type="number" id="convertamount" class="form-control"  a placeholder="Customer Phone" formControlName="phone">
                <span class="text-danger" *ngIf="isSubmitted && signupForm.get('phone')?.hasError('required')">Please select Payment Type</span>
               </div>
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Country</label>
                <select name="country" id="pay" class="form-control" #mycountry (change)="getstates(mycountry.value)" formControlName="country">
                    <option value="">select country</option>
                    <option *ngFor="let country of countries.data" value="{{country.COUNTRYID}}">{{country.COUNTRYNAME}}</option>
                </select>
                <span class="text-danger" *ngIf="isSubmitted && signupForm.get('country')?.hasError('required')">Please select Payment Type</span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label>States</label>
                <select name="state" class="form-control" #mystate (change)="getCities(mystate.value)" formControlName="state">
                    <option value="">select the state</option>
                    <option *ngFor="let state of states.data" value="{{state.STATEID}}">{{state.STATENAME}}</option>
                </select>
                <span class="text-danger" *ngIf="isSubmitted && signupForm.get('state')?.hasError('required')">Please select Payment Type</span>
            </div>
        </div>
        
    </div><br>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>States</label>
                <select name="rec" class="form-control" formControlName="city">
                    <option value="">select city</option>
                    <option *ngFor="let city of city.data" value="{{city.CITYID}}">{{city.CITYNAME}}</option>
                </select>
                <span class="text-danger" *ngIf="isSubmitted && signupForm.get('city')?.hasError('required')">Please select the City</span>
            
            </div>
        </div>
        </div>
        <button  class="btn btn-block btn-primary my-3" type="submit">Create Customer</button>
    </form>
    
</div>



