
<div class="container-fluid">
<div class="container my-5">
    <form [formGroup]="addusers" (ngSubmit)="addnewusers()">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-outline">
              <input type="text" id="form6Example1" class="form-control" formControlName="userid"/>
              <label class="form-label" for="form6Example1">User ID</label>
            </div>
          </div>
        
        </div>
      
        <!-- Text input -->
        <div class="row">
            <div class="col-md-6">
              <div class="form-outline">
                <input type="text" id="form6Example1" class="form-control" formControlName="email" />
                <label class="form-label" for="form6Example1">Email</label>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-outline">
                  <input type="text" id="form6Example2" class="form-control"  formControlName="password"/>
                  <label class="form-label" for="form6Example2">Password</label>
                </div>
              </div>
            </div>  
              <div class="row">
                <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form6Example2" class="form-control" formControlName="fullname" />
                      <label class="form-label" for="form6Example2">Fullname</label>
                    </div>
                  </div>
                  <div class="col">
                  <div class="form-outline mb-4">
                    <input type="number" id="form6Example6" class="form-control" formControlName="active"/>
                    <label class="form-label" for="form6Example6">Active</label>
                  </div>
                </div>
              </div>
              
              
    
        <!-- Number input -->
       
                      
        <!-- Submit button -->

        <div class="form-outline mb-4">
            <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
          </div>
       
        <!-- <button type="submit" class="btn btn-primary btn-block mb-4">Place order</button> -->
      </form>
</div>

</div>

